<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.booxapp">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".BookBuzz.BookBuzz"
            android:exported="true"
            android:label="@string/title_activity_book_buzz"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".sell.ViewRequests" />
        <activity android:name=".exchange.sellExchange.ExchangeViewRequests" />
        <activity android:name=".purchase.BookmarkedBooks" />
        <activity android:name=".SignUp" />
        <activity android:name=".SignIn" />
        <activity android:name=".MyProfile" />
        <activity android:name=".ForgetPassword" />
        <activity android:name=".OrderSuccesfull" />
        <activity android:name=".PurchaseCart" />
        <activity android:name=".PurchaseDetails" /> <!-- <activity android:name=".BookPhoto" /> -->
        <activity android:name=".SellBookDetails" />
        <activity android:name=".ExchangeBookDetails" />
        <activity android:name=".SellDetails" />
        <activity android:name=".ExPostInput" />
        <activity android:name=".ExPurchaseDetails" />
        <activity android:name=".store.CheckoutDetails" />
        <activity android:name=".store.BooxPurchaseDetails" />
        <activity android:name=".BookBuzz.BookBuzzWebview" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ica" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>